@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  background: rgb(48,27,0);
background: linear-gradient(0deg, rgba(48,27,0,1) 1%, rgba(0,236,154,1) 30%, rgba(255,255,255,1) 100%) !important;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgb(138, 83, 0);
 
  
}

.title {

  font-family: 'Raleway';
  font-size: 60px;
  color:bisque;

}
.card {
  background-color: rgb(101, 148, 130) !important;
  transition: transform .3s ease-in-out;
  color: bisque;
  
}


.card:hover {
  transform: scale(1.05);
}

.navbar {
  background-color: rgb(207, 124, 0);
}

footer {

  display: flex;
  justify-content: center;
  background-color: #301b00;
  color: bisque;
  margin-top: 20px;
  margin-bottom: 20px;
}